.header {
    background: linear-gradient(#0e0202, hsl(235, 89%, 37%));
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 70px;

}